.blog-page-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(60deg, #000000 0%, #ffffff3b 119%) , url('../../assets/images/blog-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.typed-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.blog-modal-title{
    color: #6754d9;
}