.ai-service-page-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(60deg, #000000 0%, #ffffff3b 119%) , url('../../assets/images/ai-service-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.typed-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.ai-img-1{
    box-shadow: 1px 1px 5px grey;
}